<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Public Sans:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Serif:wght@700&display=swap"
    />
  </head>
  <body>
    <div
      class="w-full relative bg-[#fafcff] flex flex-col items-start py-0 px-12 box-border isolate min-h-[900px] leading-[normal] tracking-[normal] mq825:pl-6 mq825:pr-6 mq825:box-border"
    >
      <section
        class="self-stretch bg-[#fafcff] flex flex-col items-center pt-8 px-0 pb-0 top-[0] z-[99] sticky text-left text-[15px] text-[#334155] font-['Public_Sans']"
      >
        <div
          class="shadow-[0px_4px_24px_rgba(0,_0,_0,_0.16)] [backdrop-filter:blur(96px)] rounded-[20px] bg-[rgba(0,72,173,0.16)] flex items-center py-5 pl-10 pr-5 relative isolate gap-24 mq825:gap-12 mq450:gap-6"
        >
          <div
            class="h-full w-full absolute !!m-[0 important] top-[0px] right-[4.5px] bottom-[0px] left-[-0.5px] bg-[rgba(234,243,255,0.16)] z-[0] shrink-0"
          ></div>
          <div
            class="flex items-start gap-8 z-[1] shrink-0 mq825:hidden mq450:gap-4"
          >
            <div class="flex items-center gap-1.5">
              <div class="relative leading-5 font-medium">Features</div>
              <img
                class="h-4 w-4 relative"
                alt=""
                src="/locofy/chevron-down.svg"
              />
            </div>
            <div class="flex items-center gap-1.5">
              <div class="relative leading-5 font-medium">Pricing</div>
              <img
                class="h-4 w-4 relative"
                alt=""
                src="/locofy/chevron-down.svg"
              />
            </div>
            <div class="flex items-center gap-1.5">
              <div class="relative leading-5 font-medium">Contact</div>
              <img
                class="h-4 w-4 relative"
                alt=""
                src="/locofy/chevron-down.svg"
              />
            </div>
            <div class="h-4 w-4 flex items-center"></div>
          </div>
          <div class="flex items-center gap-3.5 z-[2] shrink-0">
            <button
              class="cursor-pointer border-[rgba(203,213,225,0.2)] border-solid border-[1.5px] py-2 px-[18px] bg-[transparent] rounded-2xl flex items-center justify-center hover:bg-[rgba(179,189,199,0.09)] hover:border-[rgba(179,189,199,0.2)] hover:border-solid hover:hover:border-[1.5px] hover:box-border"
            >
              <div
                class="relative text-[15px] leading-5 font-medium font-['Public_Sans'] text-[#334155] text-left"
              >
                Log in
              </div>
            </button>
            <button
              class="cursor-pointer [border:none] py-2.5 px-5 bg-[#1d4ed8] rounded-2xl flex items-center justify-center hover:bg-[#4275ff]"
            >
              <div
                class="relative text-[15px] leading-5 font-medium font-['Public_Sans'] text-[#fafcff] text-left"
              >
                Try it free
              </div>
            </button>
          </div>
        </div>
      </section>
      <main
        class="self-stretch flex items-start py-12 px-0 box-border isolate max-w-full z-[1] mq1410:pt-5 mq1410:pb-5 mq1410:box-border"
      >
        <section
          class="flex-1 flex flex-col items-start isolate max-w-full z-[0] text-center text-[64px] text-[#1b2028] font-[Manrope]"
        >
          <div
            class="self-stretch h-[1398px] bg-[#fafcff] flex items-end pt-0 px-0 pb-[206.3px] box-border max-w-full text-8xl text-[#1e3a5f] mq1410:h-auto mq1410:pb-[134px] mq1410:box-border mq825:gap-12 mq825:pb-[87px] mq825:box-border mq450:gap-6"
          >
            <div
              class="ml-[-96.5px] w-[1536px] [background:radial-gradient(193.34%_155.87%_at_50%_-1.55%,_rgba(250,_252,_255,_0.7)_31.17%,_rgba(0,_72,_173,_0.11)),_linear-gradient(#fafcff,_#fafcff)] flex flex-col items-center pt-[127px] px-24 pb-0 box-border gap-[93px] shrink-0 max-w-[115%] mq1410:pt-[83px] mq1410:box-border mq825:gap-[46px] mq825:pl-12 mq825:pt-[54px] mq825:pr-12 mq825:box-border mq450:gap-[23px] mq450:pl-5 mq450:pr-5 mq450:box-border"
            >
              <div
                class="self-stretch h-[411px] flex flex-col items-center gap-[63px] mq825:gap-[31px] mq450:gap-4"
              >
                <div
                  class="self-stretch h-[253px] relative tracking-[-0.02em] leading-[120px] inline-block [filter:drop-shadow(0px_4px_4px_rgba(0,_0,_0,_0.25))] shrink-0 mq825:text-[51px] mq825:leading-[96px] mq450:text-[38px] mq450:leading-[72px]"
                >
                  <span class="font-medium">FROM IDEA TO SHELF <br /></span>
                  <b class="text-[64px] text-[#3b82f6]">Powered by AI</b>
                </div>
                <button
                  class="cursor-pointer [border:none] py-3.5 px-4 bg-[#1d4ed8] w-[422px] h-[98px] rounded-2xl flex items-center justify-center box-border shrink-0 hover:bg-[#4275ff]"
                >
                  <div
                    class="relative text-4xl leading-6 font-medium font-['Public_Sans'] text-[#fafcff] text-left"
                  >
                    Start your first formula
                  </div>
                </button>
              </div>
              <div
                class="w-[656px] h-[62px] relative text-xl leading-6 font-medium text-[#64748b] text-left inline-block mq450:text-base mq450:leading-[19px]"
              >
                Trusted by beverage innovators, R&D teams, and product
                developers
              </div>
              <div
                class="self-stretch h-[500px] flex items-start py-0 pl-[159px] pr-[157px] box-border max-w-full mq1410:h-auto mq1410:pl-[79px] mq1410:pr-[78px] mq1410:box-border mq825:pl-[39px] mq825:pr-[39px] mq825:box-border"
              >
                <div
                  class="mt-[-99px] shadow-[0px_311px_87px_rgba(0,_0,_0,_0),_0px_199px_80px_rgba(0,_0,_0,_0),_0px_112px_67px_rgba(0,_0,_0,_0.02),_0px_50px_50px_rgba(0,_0,_0,_0.03),_0px_12px_27px_rgba(0,_0,_0,_0.03)] rounded-[20px] bg-[#fff] border-[rgba(73,89,110,0.2)] border-solid border-[1.5px] box-border overflow-hidden flex flex-col items-end pt-[33.5px] pb-[36.5px] pl-9 pr-[37px] gap-[23px] max-w-full shrink-0 mq825:pt-[22px] mq825:pb-6 mq825:box-border"
                >
                  <button
                    class="cursor-pointer [border:none] py-3 px-2 bg-[#1d4ed8] rounded-2xl flex items-center justify-center shrink-0 hover:bg-[#4275ff]"
                  >
                    <div
                      class="relative text-xl leading-6 font-medium font-['Public_Sans'] text-[#fafcff] text-left"
                    >
                      Book a Live Demo
                    </div>
                  </button>
                  <div
                    class="flex items-start justify-end py-0 pl-1 pr-px box-border max-w-full shrink-0"
                  >
                    <div
                      class="flex items-start justify-center gap-[34px] max-w-full mq1410:flex-wrap mq825:gap-[17px]"
                    >
                      <div
                        class="flex flex-col items-start gap-8 max-w-full mq825:gap-4"
                      >
                        <img
                          class="w-[729px] relative max-h-full object-cover"
                          loading="lazy"
                          alt=""
                          src="/locofy/image-4@2x.png"
                        />

                        <img
                          class="w-[729px] h-[271px] relative rounded-[20px] object-cover"
                          loading="lazy"
                          alt=""
                          src="/locofy/Container3@2x.png"
                        />
                      </div>
                      <img
                        class="h-[574px] w-[183px] relative rounded-[20px] object-cover"
                        loading="lazy"
                        alt=""
                        src="/locofy/Container2@2x.png"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="self-stretch bg-[#fafcff] flex flex-col items-start justify-center py-[52px] px-0 box-border relative isolate gap-[52px] max-w-full z-[3] text-5xl mq1410:pt-[34px] mq1410:pb-[34px] mq1410:box-border mq825:gap-[26px] mq825:pt-[22px] mq825:pb-[22px] mq825:box-border"
          >
            <h1
              class="m-0 self-stretch relative text-[length:inherit] tracking-[-0.02em] leading-[52px] font-bold font-[inherit] z-[0] shrink-0 mq825:text-[38px] mq825:leading-[42px] mq450:text-[29px] mq450:leading-[31px]"
            >
              Everything your R&D team needs in one intelligent workspace
            </h1>
            <div
              class="self-stretch flex flex-col items-start gap-8 max-w-full z-[1] shrink-0 mq825:gap-4"
            >
              <div
                class="self-stretch flex items-start justify-center gap-8 max-w-full lg:flex-wrap mq825:gap-4"
              >
                <section
                  class="h-[480px] flex-1 rounded-[20px] bg-[rgba(37,74,126,0.09)] overflow-hidden flex flex-col items-end pt-[38px] px-0 pb-0 box-border max-w-full text-left text-[28px] text-[#1b2028] font-[Manrope]"
                >
                  <div
                    class="self-stretch flex flex-col items-start py-0 px-10 gap-2.5"
                  >
                    <h2
                      class="m-0 self-stretch relative text-[length:inherit] tracking-[-0.02em] leading-8 font-bold font-[inherit] mq450:text-[22px] mq450:leading-[26px]"
                    >
                      Formulation Design
                    </h2>
                    <h3
                      class="m-0 self-stretch relative text-xl leading-6 font-normal font-[inherit] mq450:text-base mq450:leading-[19px]"
                    >
                      Design formulations with precision and ease.
                    </h3>
                  </div>
                  <div
                    class="self-stretch flex-1 flex flex-col items-start max-w-full text-xl"
                  >
                    <div
                      class="self-stretch h-[405px] flex flex-col items-start pt-[32.7px] pb-[33px] pl-[68px] pr-[46px] box-border relative isolate gap-[184px] max-w-full shrink-0 mq825:gap-[92px] mq825:pl-[34px] mq825:pr-[23px] mq825:box-border mq450:gap-[46px] mq450:pt-[21px] mq450:pb-[21px] mq450:box-border"
                    >
                      <img
                        class="w-[296px] h-[404px] absolute !!m-[0 important] top-[33px] left-[calc(50%_-_148px)] shadow-[15px_128px_36px_rgba(0,_0,_0,_0),_10px_82px_33px_rgba(0,_0,_0,_0.01),_5px_46px_28px_rgba(0,_0,_0,_0.04),_2px_20px_21px_rgba(0,_0,_0,_0.06),_1px_5px_11px_rgba(0,_0,_0,_0.08)] rounded-[20px] object-cover shrink-0"
                        alt=""
                        src="/locofy/Container1@2x.png"
                      />

                      <div
                        class="w-[139px] h-[247.2px] relative hidden z-[1] shrink-0"
                      ></div>
                      <div
                        class="w-[542px] flex items-start justify-end py-0 px-px box-border max-w-full shrink-0"
                      >
                        <div
                          class="h-[72px] w-[190px] shadow-[15px_128px_36px_rgba(0,_0,_0,_0),_10px_82px_33px_rgba(0,_0,_0,_0.01),_5px_46px_28px_rgba(0,_0,_0,_0.04),_2px_20px_21px_rgba(0,_0,_0,_0.06),_1px_5px_11px_rgba(0,_0,_0,_0.08)] rounded-[20px] [background:linear-gradient(144.29deg,_rgba(250,_252,_255,_0),_rgba(0,_84,_173,_0.05)),_linear-gradient(rgba(37,_74,_126,_0.09),_rgba(37,_74,_126,_0.09)),_linear-gradient(#fff,_#fff)] border-[rgba(73,89,110,0.2)] border-solid border-[1.5px] box-border overflow-hidden shrink-0 flex items-start py-2.5 px-9 z-[1]"
                        >
                          <b
                            class="w-[114px] relative tracking-[-0.02em] leading-6 [display:-webkit-inline-box] whitespace-pre-wrap items-center overflow-hidden text-ellipsis [-webkit-line-clamp:2] [-webkit-box-orient:vertical] shrink-0 mq450:text-base mq450:leading-[19px]"
                            >Nutritional <br />
                            Analysis</b
                          >
                        </div>
                      </div>
                      <div
                        class="w-[190px] shadow-[15px_128px_36px_rgba(0,_0,_0,_0),_10px_82px_33px_rgba(0,_0,_0,_0.01),_5px_46px_28px_rgba(0,_0,_0,_0.04),_2px_20px_21px_rgba(0,_0,_0,_0.06),_1px_5px_11px_rgba(0,_0,_0,_0.08)] rounded-[20px] [background:linear-gradient(144.29deg,_rgba(250,_252,_255,_0),_rgba(0,_84,_173,_0.05)),_linear-gradient(rgba(37,_74,_126,_0.09),_rgba(37,_74,_126,_0.09)),_linear-gradient(#fff,_#fff)] border-[rgba(73,89,110,0.2)] border-solid border-[1.5px] box-border overflow-hidden flex items-start py-2.5 px-[22px] z-[1] shrink-0 text-center"
                      >
                        <b
                          class="w-[142px] relative tracking-[-0.02em] leading-6 [display:-webkit-inline-box] items-center justify-center overflow-hidden text-ellipsis [-webkit-line-clamp:2] [-webkit-box-orient:vertical] shrink-0 mq450:text-base mq450:leading-[19px]"
                          >Ingredient Management</b
                        >
                      </div>
                    </div>
                  </div>
                </section>
                <section
                  class="h-[480px] flex-1 rounded-[20px] bg-[rgba(37,74,126,0.09)] overflow-hidden flex flex-col items-end pt-[38px] px-0 pb-0 box-border text-left text-[28px] text-[#1b2028] font-[Manrope]"
                >
                  <div
                    class="self-stretch flex flex-col items-start py-0 px-10 gap-2.5"
                  >
                    <h2
                      class="m-0 self-stretch relative text-[length:inherit] tracking-[-0.02em] leading-8 font-bold font-[inherit] mq450:text-[22px] mq450:leading-[26px]"
                    >
                      Automated Calculations
                    </h2>
                    <h3
                      class="m-0 self-stretch relative text-xl leading-6 font-normal font-[inherit] mq450:text-base mq450:leading-[19px]"
                    >
                      Automate nutritional and Brix calculations.
                    </h3>
                  </div>
                  <div
                    class="self-stretch flex-1 flex flex-col items-start text-xl"
                  >
                    <div
                      class="w-[699px] h-[287px] flex items-start pt-[55.7px] px-[37px] pb-14 box-border relative isolate gap-[214px] shrink-0 mq825:gap-[107px] mq450:gap-[53px]"
                    >
                      <div
                        class="h-[404px] w-[287px] absolute !!m-[0 important] top-[41.7px] left-[calc(50%_-_147px)] shadow-[15px_128px_36px_rgba(0,_0,_0,_0),_10px_82px_33px_rgba(0,_0,_0,_0.01),_5px_46px_28px_rgba(0,_0,_0,_0.04),_2px_20px_21px_rgba(0,_0,_0,_0.06),_1px_5px_11px_rgba(0,_0,_0,_0.08)] rounded-[20px] [background:linear-gradient(144.29deg,_rgba(0,_0,_0,_0),_rgba(0,_0,_0,_0.08)),_linear-gradient(#fff,_#fff)] border-[rgba(73,89,110,0.2)] border-solid border-[1.5px] box-border overflow-hidden shrink-0"
                      >
                        <div
                          class="absolute top-[28px] left-[28px] rounded-2xl bg-[rgba(27,32,40,0.2)] w-[142px] h-8 hidden shrink-0"
                        ></div>
                        <img
                          class="absolute top-[-660.2px] left-[-756.5px] w-[1044px] h-[1566px] object-cover hidden shrink-0"
                          alt=""
                          src="/locofy/image-3@2x.png"
                        />

                        <img
                          class="absolute top-[-35px] left-[0px] w-[291px] h-[437px] object-cover shrink-0"
                          loading="lazy"
                          alt=""
                          src="/locofy/image-7@2x.png"
                        />
                      </div>
                      <div
                        class="h-[72px] flex flex-col items-start pt-[71px] px-0 pb-0 box-border shrink-0"
                      >
                        <div
                          class="h-[72px] shadow-[15px_128px_36px_rgba(0,_0,_0,_0),_10px_82px_33px_rgba(0,_0,_0,_0.01),_5px_46px_28px_rgba(0,_0,_0,_0.04),_2px_20px_21px_rgba(0,_0,_0,_0.06),_1px_5px_11px_rgba(0,_0,_0,_0.08)] rounded-[20px] [background:linear-gradient(144.29deg,_rgba(250,_252,_255,_0),_rgba(0,_84,_173,_0.05)),_linear-gradient(rgba(37,_74,_126,_0.09),_rgba(37,_74,_126,_0.09)),_linear-gradient(#fff,_#fff)] border-[rgba(73,89,110,0.2)] border-solid border-[1.5px] box-border overflow-hidden shrink-0 flex items-start py-[22px] pl-4 pr-0 z-[1]"
                        >
                          <div class="flex items-start">
                            <h3
                              class="m-0 w-[171px] relative text-[length:inherit] tracking-[-0.02em] leading-6 font-bold font-[inherit] [display:-webkit-inline-box] items-center overflow-hidden text-ellipsis [-webkit-line-clamp:2] [-webkit-box-orient:vertical] shrink-0 mq450:text-base mq450:leading-[19px]"
                            >
                              Brix Calculation
                            </h3>
                            <div
                              class="h-8 w-8 relative overflow-hidden shrink-0 hidden"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="h-[72px] w-[190px] shadow-[15px_128px_36px_rgba(0,_0,_0,_0),_10px_82px_33px_rgba(0,_0,_0,_0.01),_5px_46px_28px_rgba(0,_0,_0,_0.04),_2px_20px_21px_rgba(0,_0,_0,_0.06),_1px_5px_11px_rgba(0,_0,_0,_0.08)] rounded-[20px] [background:linear-gradient(144.29deg,_rgba(250,_252,_255,_0),_rgba(0,_84,_173,_0.05)),_linear-gradient(rgba(37,_74,_126,_0.09),_rgba(37,_74,_126,_0.09)),_linear-gradient(#fff,_#fff)] border-[rgba(73,89,110,0.2)] border-solid border-[1.5px] box-border overflow-hidden shrink-0 flex items-start p-[22px] gap-5 z-[1]"
                      >
                        <h3
                          class="m-0 h-6 w-[142px] relative text-[length:inherit] tracking-[-0.02em] leading-6 font-bold font-[inherit] flex items-center overflow-hidden text-ellipsis whitespace-nowrap shrink-0 mq450:text-base mq450:leading-[19px]"
                        >
                          Acidity Levels
                        </h3>
                        <div
                          class="h-[100px] w-[100px] relative overflow-hidden shrink-0 hidden"
                        ></div>
                      </div>
                      <div
                        class="h-[431px] w-[287px] relative hidden z-[3] shrink-0"
                      ></div>
                    </div>
                  </div>
                </section>
              </div>
              <div
                class="self-stretch flex items-start justify-center gap-8 max-w-full lg:flex-wrap mq825:gap-4"
              >
                <section
                  class="h-[480px] flex-1 rounded-[20px] bg-[rgba(37,74,126,0.09)] overflow-hidden flex flex-col items-end pt-[38px] px-0 pb-0 box-border max-w-full text-left text-[28px] text-[#1b2028] font-[Manrope]"
                >
                  <div
                    class="self-stretch flex flex-col items-start py-0 px-10 gap-2.5"
                  >
                    <h2
                      class="m-0 self-stretch relative text-[length:inherit] tracking-[-0.02em] leading-8 font-bold font-[inherit] mq450:text-[22px] mq450:leading-[26px]"
                    >
                      Shelf-Life Simulation
                    </h2>
                    <h3
                      class="m-0 self-stretch relative text-xl leading-6 font-normal font-[inherit] mq450:text-base mq450:leading-[19px]"
                    >
                      Simulate shelf-life for optimal product launch.
                    </h3>
                  </div>
                  <div
                    class="self-stretch flex-1 flex flex-col items-start max-w-full text-center text-xl"
                  >
                    <div
                      class="self-stretch h-[405px] flex flex-col items-start pt-[32.7px] px-[22px] pb-[51.3px] box-border relative isolate gap-[157px] max-w-full shrink-0 mq825:gap-[78px] mq450:gap-[39px] mq450:pt-[21px] mq450:pb-[33px] mq450:box-border"
                    >
                      <div
                        class="w-[296px] h-[404px] absolute !!m-[0 important] top-[33px] left-[calc(50%_-_148px)] shadow-[15px_128px_36px_rgba(0,_0,_0,_0),_10px_82px_33px_rgba(0,_0,_0,_0.01),_5px_46px_28px_rgba(0,_0,_0,_0.04),_2px_20px_21px_rgba(0,_0,_0,_0.06),_1px_5px_11px_rgba(0,_0,_0,_0.08)] rounded-[20px] [background:linear-gradient(144.29deg,_rgba(0,_0,_0,_0),_rgba(0,_0,_0,_0.08)),_linear-gradient(#fff,_#fff)] border-[rgba(73,89,110,0.2)] border-solid border-[1.5px] box-border overflow-hidden shrink-0"
                      >
                        <img
                          class="absolute top-[-93.2px] left-[-0.5px] w-[296px] h-[444px] object-cover shrink-0"
                          loading="lazy"
                          alt=""
                          src="/locofy/image-8@2x.png"
                        />
                      </div>
                      <div
                        class="w-[612px] flex items-start justify-end py-0 px-[11px] box-border max-w-full shrink-0"
                      >
                        <div
                          class="h-[92px] w-[190px] shadow-[15px_128px_36px_rgba(0,_0,_0,_0),_10px_82px_33px_rgba(0,_0,_0,_0.01),_5px_46px_28px_rgba(0,_0,_0,_0.04),_2px_20px_21px_rgba(0,_0,_0,_0.06),_1px_5px_11px_rgba(0,_0,_0,_0.08)] rounded-[20px] [background:linear-gradient(144.29deg,_rgba(250,_252,_255,_0),_rgba(0,_84,_173,_0.05)),_linear-gradient(rgba(37,_74,_126,_0.09),_rgba(37,_74,_126,_0.09)),_linear-gradient(#fff,_#fff)] border-[rgba(73,89,110,0.2)] border-solid border-[1.5px] box-border overflow-hidden shrink-0 flex items-start p-[22px] z-[1]"
                        >
                          <h3
                            class="m-0 h-6 w-[142px] relative text-[length:inherit] tracking-[-0.02em] leading-6 font-bold font-[inherit] flex items-center justify-center overflow-hidden text-ellipsis whitespace-nowrap shrink-0 mq450:text-base mq450:leading-[19px]"
                          >
                            Launch Readiness
                          </h3>
                        </div>
                      </div>
                      <div
                        class="w-[190px] h-[72px] shadow-[15px_128px_36px_rgba(0,_0,_0,_0),_10px_82px_33px_rgba(0,_0,_0,_0.01),_5px_46px_28px_rgba(0,_0,_0,_0.04),_2px_20px_21px_rgba(0,_0,_0,_0.06),_1px_5px_11px_rgba(0,_0,_0,_0.08)] rounded-[20px] [background:linear-gradient(144.29deg,_rgba(250,_252,_255,_0),_rgba(0,_84,_173,_0.05)),_linear-gradient(rgba(37,_74,_126,_0.09),_rgba(37,_74,_126,_0.09)),_linear-gradient(#fff,_#fff)] border-[rgba(73,89,110,0.2)] border-solid border-[1.5px] box-border overflow-hidden shrink-0 flex items-start py-2 px-[22px] z-[1]"
                      >
                        <b
                          class="w-[142px] relative tracking-[-0.02em] leading-6 [display:-webkit-inline-box] items-center justify-center overflow-hidden text-ellipsis [-webkit-line-clamp:2] [-webkit-box-orient:vertical] shrink-0 mq450:text-base mq450:leading-[19px]"
                          >Shelf-Life Analytics</b
                        >
                      </div>
                    </div>
                  </div>
                </section>
                <section
                  class="h-[480px] flex-1 rounded-[20px] bg-[rgba(37,74,126,0.09)] overflow-hidden flex flex-col items-end pt-[38px] px-0 pb-0 box-border max-w-full text-left text-[28px] text-[#1b2028] font-[Manrope]"
                >
                  <div
                    class="self-stretch flex flex-col items-start py-0 px-10 gap-2.5"
                  >
                    <h2
                      class="m-0 self-stretch relative text-[length:inherit] tracking-[-0.02em] leading-8 font-bold font-[inherit] mq450:text-[22px] mq450:leading-[26px]"
                    >
                      Processing Optimization
                    </h2>
                    <h3
                      class="m-0 self-stretch relative text-xl leading-6 font-normal font-['Public_Sans'] mq450:text-base mq450:leading-[19px]"
                    >
                      Optimize processing for better products.
                    </h3>
                  </div>
                  <div
                    class="self-stretch flex-1 flex flex-col items-start max-w-full text-center text-xl"
                  >
                    <div
                      class="self-stretch h-[405px] flex flex-col items-start pt-[50.7px] px-[13px] pb-[57.3px] box-border relative isolate gap-[153px] max-w-full shrink-0 mq825:gap-[76px] mq450:gap-[38px] mq450:pt-[33px] mq450:pb-[37px] mq450:box-border"
                    >
                      <img
                        class="w-[296px] h-[404px] absolute !!m-[0 important] top-[33px] left-[calc(50%_-_148px)] shadow-[15px_128px_36px_rgba(0,_0,_0,_0),_10px_82px_33px_rgba(0,_0,_0,_0.01),_5px_46px_28px_rgba(0,_0,_0,_0.04),_2px_20px_21px_rgba(0,_0,_0,_0.06),_1px_5px_11px_rgba(0,_0,_0,_0.08)] rounded-[20px] object-cover shrink-0"
                        alt=""
                        src="/locofy/Container@2x.png"
                      />

                      <div
                        class="w-[630px] flex items-start justify-end py-0 px-2.5 box-border max-w-full shrink-0"
                      >
                        <div
                          class="h-[72px] w-[190px] shadow-[15px_128px_36px_rgba(0,_0,_0,_0),_10px_82px_33px_rgba(0,_0,_0,_0.01),_5px_46px_28px_rgba(0,_0,_0,_0.04),_2px_20px_21px_rgba(0,_0,_0,_0.06),_1px_5px_11px_rgba(0,_0,_0,_0.08)] rounded-[20px] [background:linear-gradient(144.29deg,_rgba(250,_252,_255,_0),_rgba(0,_84,_173,_0.05)),_linear-gradient(rgba(37,_74,_126,_0.09),_rgba(37,_74,_126,_0.09)),_linear-gradient(#fff,_#fff)] border-[rgba(73,89,110,0.2)] border-solid border-[1.5px] box-border overflow-hidden shrink-0 flex items-start pt-2.5 px-[22px] pb-[11px] z-[1]"
                        >
                          <div class="flex items-start">
                            <b
                              class="h-[47px] w-[142px] relative tracking-[-0.02em] leading-6 flex items-center justify-center overflow-hidden text-ellipsis whitespace-nowrap shrink-0 mq450:text-base mq450:leading-[19px]"
                              >Cost Efficiency</b
                            >
                            <div
                              class="h-8 w-8 relative overflow-hidden shrink-0 hidden"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="w-[190px] h-[72px] shadow-[15px_128px_36px_rgba(0,_0,_0,_0),_10px_82px_33px_rgba(0,_0,_0,_0.01),_5px_46px_28px_rgba(0,_0,_0,_0.04),_2px_20px_21px_rgba(0,_0,_0,_0.06),_1px_5px_11px_rgba(0,_0,_0,_0.08)] rounded-[20px] [background:linear-gradient(144.29deg,_rgba(250,_252,_255,_0),_rgba(0,_84,_173,_0.05)),_linear-gradient(rgba(37,_74,_126,_0.09),_rgba(37,_74,_126,_0.09)),_linear-gradient(#fff,_#fff)] border-[rgba(73,89,110,0.2)] border-solid border-[1.5px] box-border overflow-hidden shrink-0 flex items-start pt-2.5 px-[22px] pb-px gap-5 z-[1]"
                      >
                        <b
                          class="w-[142px] relative tracking-[-0.02em] leading-6 [display:-webkit-inline-box] items-center justify-center overflow-hidden text-ellipsis [-webkit-line-clamp:2] [-webkit-box-orient:vertical] shrink-0 mq450:text-base mq450:leading-[19px]"
                          >Process Simulation</b
                        >
                        <div
                          class="h-8 w-8 relative overflow-hidden shrink-0 hidden"
                        ></div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <img
              class="w-[calc(100%_+_192px)] absolute !!m-[0 important] right-[-96px] bottom-[0px] left-[-96px] max-w-full overflow-hidden max-h-full z-[2] shrink-0"
              alt=""
            />
          </div>
          <div
            class="self-stretch bg-[#fafcff] overflow-hidden flex flex-col items-center justify-center py-24 px-0 z-[2] mq825:gap-[26px] mq450:pt-[62px] mq450:pb-[62px] mq450:box-border"
          >
            <div
              class="w-full relative tracking-[-0.02em] leading-[68px] inline-block max-w-[1260px] mq1410:max-w-full mq825:text-[51px] mq825:leading-[54px] mq450:text-[38px] mq450:leading-[41px]"
            >
              AI has transformed our R&D process, allowing us to bring
              innovative products to market faster than ever.
            </div>
          </div>
          <div
            class="self-stretch bg-[#fafcff] flex flex-col items-start py-[52px] px-0 relative isolate gap-[52px] z-[1] lg:pt-[34px] lg:pb-[34px] lg:box-border mq825:gap-[26px] mq825:pt-[22px] mq825:pb-[22px] mq825:box-border"
          >
            <div
              class="self-stretch flex flex-col items-center py-0 px-5 gap-5 z-[0] shrink-0"
            >
              <h1
                class="m-0 w-[1152px] relative text-[length:inherit] tracking-[-0.02em] leading-[68px] font-bold font-[inherit] inline-block mq825:text-[51px] mq825:leading-[54px] mq450:text-[38px] mq450:leading-[41px]"
              >
                Flexible Pricing
              </h1>
              <h3
                class="m-0 w-[1152px] relative text-2xl leading-8 font-normal font-['Public_Sans'] inline-block mq450:text-[19px] mq450:leading-[26px]"
              >
                Choose the plan that fits your needs.
              </h3>
            </div>
            <div
              class="self-stretch flex items-start justify-center flex-wrap content-start gap-8 z-[1] shrink-0 mq825:gap-4"
            >
              <section
                class="flex-1 rounded-[20px] bg-[rgba(37,74,126,0.09)] overflow-hidden flex flex-col items-start p-[30px] box-border gap-8 min-w-[300px] max-w-[400px] text-left text-[17px] text-[#1b2028] font-['Public_Sans'] mq825:pt-5 mq825:pb-5 mq825:box-border mq450:gap-4 mq450:max-w-full"
              >
                <div class="self-stretch flex flex-col items-start gap-4">
                  <b class="self-stretch relative leading-6 font-[Manrope]"
                    >Explorer</b
                  >
                  <div
                    class="self-stretch flex items-baseline gap-1 text-xl mq450:flex-wrap"
                  >
                    <h2
                      class="m-0 relative text-5xl tracking-[-0.02em] leading-[52px] font-bold font-['Roboto_Serif'] mq825:text-[38px] mq825:leading-[42px] mq450:text-[29px] mq450:leading-[31px]"
                    >
                      $99
                    </h2>
                    <div
                      class="w-[202px] relative leading-6 hidden mq450:text-base mq450:leading-[19px]"
                    >
                      / month
                    </div>
                    <h3
                      class="m-0 flex-1 relative text-[length:inherit] leading-6 font-normal font-[inherit] text-[#000] inline-block min-w-[45px] mq450:text-base mq450:leading-[19px]"
                    >
                      month
                    </h3>
                  </div>
                  <div
                    class="self-stretch relative text-[13px] leading-4 text-[rgba(20,31,46,0.62)] overflow-hidden text-ellipsis whitespace-nowrap"
                  >
                    Try us out first
                  </div>
                </div>
                <button
                  class="cursor-pointer border-[rgba(73,89,110,0.2)] border-solid border-[1.5px] py-2 px-5 bg-[transparent] self-stretch rounded-2xl flex items-center justify-center hover:bg-[rgba(112,128,148,0.09)] hover:border-[rgba(112,128,148,0.2)] hover:border-solid hover:hover:border-[1.5px] hover:box-border"
                >
                  <div
                    class="relative text-[15px] leading-5 font-medium font-['Public_Sans'] text-[#1b2028] text-left"
                  >
                    Start for free
                  </div>
                </button>
                <img
                  class="self-stretch h-[1.5px] relative rounded-[1px] max-w-full overflow-hidden max-h-full"
                  alt=""
                  src="/locofy/divider.svg"
                />

                <div
                  class="self-stretch flex flex-col items-start text-[13px] text-[rgba(20,31,46,0.62)] font-[Manrope]"
                >
                  <div
                    class="self-stretch flex items-center gap-2 mq450:flex-wrap"
                  >
                    <div
                      class="h-16 w-6 relative overflow-hidden shrink-0"
                    ></div>
                    <div
                      class="flex-1 relative leading-4 [display:-webkit-inline-box] overflow-hidden text-ellipsis [-webkit-line-clamp:17] [-webkit-box-orient:vertical] min-w-[133px]"
                    >
                      AI Formulation Builder<br /><br />
                      Ingredient Database Access<br /><br />
                      Brix, pH & TA Calculations<br /><br />
                      Basic Costing (COGS)<br /><br />
                      5 Saved Formulations<br /><br />
                      1 User Seat<br /><br />
                      Export to PDF<br /><br />
                      Community Support
                    </div>
                  </div>
                </div>
              </section>
              <section
                class="flex-1 rounded-[20px] bg-[rgba(0,72,173,0.16)] border-[#0047ab] border-solid border-[1.5px] box-border overflow-hidden flex flex-col items-start p-[30px] gap-8 min-w-[300px] max-w-[400px] text-left text-[17px] text-[#0047ab] font-['Public_Sans'] mq825:pt-5 mq825:pb-5 mq825:box-border mq450:gap-4 mq450:max-w-full"
              >
                <div class="self-stretch flex flex-col items-start gap-4">
                  <b class="self-stretch relative leading-6">R&D Team </b>
                  <div
                    class="self-stretch flex items-baseline gap-1 text-5xl font-['Roboto_Serif'] mq450:flex-wrap"
                  >
                    <h2
                      class="m-0 relative text-[length:inherit] tracking-[-0.02em] leading-[52px] font-bold font-[inherit] mq825:text-[38px] mq825:leading-[42px] mq450:text-[29px] mq450:leading-[31px]"
                    >
                      $299
                    </h2>
                    <h3
                      class="m-0 flex-1 relative text-xl leading-6 font-normal font-['Public_Sans'] inline-block min-w-[45px] mq450:text-base mq450:leading-[19px]"
                    >
                      month
                    </h3>
                  </div>
                  <div
                    class="self-stretch relative text-[13px] leading-4 text-[#1b2028] overflow-hidden text-ellipsis whitespace-nowrap"
                  >
                    Growing Teams
                  </div>
                </div>
                <button
                  class="cursor-pointer [border:none] py-2.5 px-5 bg-[#0047ab] self-stretch rounded-2xl flex items-center justify-center hover:bg-[#266ed1]"
                >
                  <div
                    class="relative text-[15px] leading-5 font-medium font-['Public_Sans'] text-[#fafcff] text-left"
                  >
                    Start with Plus
                  </div>
                </button>
                <img
                  class="self-stretch h-[1.5px] relative rounded-[1px] max-w-full overflow-hidden max-h-full"
                  alt=""
                  src="/locofy/divider.svg"
                />

                <div
                  class="self-stretch flex flex-col items-start text-[13px] text-[#1b2028] font-[Manrope]"
                >
                  <div
                    class="self-stretch flex items-center gap-2 mq450:flex-wrap"
                  >
                    <div
                      class="h-16 w-6 relative overflow-hidden shrink-0"
                    ></div>
                    <div
                      class="flex-1 relative leading-4 [display:-webkit-inline-box] overflow-hidden text-ellipsis [-webkit-line-clamp:21] [-webkit-box-orient:vertical] min-w-[156px]"
                    >
                      Everything in Explorer<br /><br />
                      Unlimited Formulations<br /><br />
                      Advanced Shelf-Life Simulation<br /><br />
                      Process Optimization Tools<br /><br />
                      CO₂ & Pressure Prediction<br /><br />
                      Tunnel Pasteurization Calculator<br /><br />
                      Team Collaboration Workspace<br /><br />
                      Up to 20 Users<br /><br />
                      Priority Support<br /><br />
                      API / ERP Export Ready
                    </div>
                  </div>
                </div>
              </section>
              <section
                class="flex-1 rounded-[20px] bg-[rgba(37,74,126,0.09)] overflow-hidden flex flex-col items-start p-[30px] box-border gap-8 min-w-[300px] max-w-[400px] text-left text-[17px] text-[#1b2028] font-[Manrope] mq825:pt-5 mq825:pb-5 mq825:box-border mq450:gap-4 mq450:max-w-full"
              >
                <div class="self-stretch flex flex-col items-start gap-4">
                  <b class="self-stretch relative leading-6">Enterprise</b>
                  <div
                    class="self-stretch flex items-baseline gap-1 text-5xl font-['Roboto_Serif']"
                  >
                    <h2
                      class="m-0 relative text-[length:inherit] tracking-[-0.02em] leading-[52px] font-bold font-[inherit] mq825:text-[38px] mq825:leading-[42px] mq450:text-[29px] mq450:leading-[31px]"
                    >
                      Custom
                    </h2>
                    <div
                      class="w-[202px] relative text-xl leading-6 font-['Public_Sans'] hidden mq450:text-base mq450:leading-[19px]"
                    >
                      / month
                    </div>
                  </div>
                  <div
                    class="self-stretch relative text-[13px] leading-4 font-['Public_Sans'] text-[rgba(20,31,46,0.62)] overflow-hidden text-ellipsis whitespace-nowrap"
                  >
                    Large Organizations
                  </div>
                </div>
                <button
                  class="cursor-pointer border-[rgba(73,89,110,0.2)] border-solid border-[1.5px] py-2 px-5 bg-[transparent] self-stretch rounded-2xl flex items-center justify-center hover:bg-[rgba(112,128,148,0.09)] hover:border-[rgba(112,128,148,0.2)] hover:border-solid hover:hover:border-[1.5px] hover:box-border"
                >
                  <div
                    class="relative text-[15px] leading-5 font-medium font-['Public_Sans'] text-[#1b2028] text-left"
                  >
                    Contact Sales
                  </div>
                </button>
                <img
                  class="self-stretch h-[1.5px] relative rounded-[1px] max-w-full overflow-hidden max-h-full"
                  alt=""
                  src="/locofy/divider.svg"
                />

                <div
                  class="self-stretch flex flex-col items-start text-[13px] text-[rgba(20,31,46,0.62)] font-['Public_Sans']"
                >
                  <div
                    class="self-stretch flex items-center gap-2 mq450:flex-wrap"
                  >
                    <div
                      class="h-16 w-6 relative overflow-hidden shrink-0"
                    ></div>
                    <div
                      class="flex-1 relative leading-4 [display:-webkit-inline-box] overflow-hidden text-ellipsis [-webkit-line-clamp:20] [-webkit-box-orient:vertical] min-w-[140px]"
                    >
                      Everything in R&D Team<br /><br />Unlimited Users<br /><br />Multi-Site
                      Team Management<br /><br />Custom Simulation Models<br /><br />Private
                      Ingredient Databases<br /><br />Role-Based Access
                      Control<br /><br />SAP / ERP Integrations<br /><br />Custom
                      AI Model Training<br /><br />Dedicated Customer Success<br /><br />SLA
                      + Enterprise Security
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <img
              class="w-[calc(100%_+_192px)] absolute !!m-[0 important] right-[-96px] bottom-[0px] left-[-96px] max-w-full overflow-hidden max-h-full z-[2] shrink-0"
              loading="lazy"
              alt=""
              src="/locofy/divider.svg"
            />
          </div>
          <div
            class="self-stretch h-[720px] bg-[#fafcff] flex flex-col items-start py-[214px] px-0 box-border relative isolate gap-12 max-w-full mq825:gap-6 mq825:pt-[139px] mq825:pb-[139px] mq825:box-border"
          >
            <div
              class="w-[calc(100%_+_192px)] h-full absolute !!m-[0 important] top-[0px] right-[-96px] bottom-[0px] left-[-96px] [background:radial-gradient(63.68%_40.76%_at_50%_103.08%,_rgba(0,_72,_173,_0.16),_rgba(250,_252,_255,_0))] shrink-0"
            ></div>
            <section
              class="w-[1344px] flex flex-col items-center gap-[52px] max-w-full z-[1] shrink-0 text-center text-[64px] text-[#1b2028] font-[Manrope] mq825:gap-[26px]"
            >
              <div
                class="w-full flex flex-col items-start gap-5 max-w-[1260px] mq1410:max-w-full"
              >
                <h1
                  class="m-0 self-stretch relative text-[length:inherit] tracking-[-0.02em] leading-[68px] font-bold font-[inherit] mq825:text-[51px] mq825:leading-[54px] mq450:text-[38px] mq450:leading-[41px]"
                >
                  Bring Your Next Beverage from Idea to Shelf Faster
                </h1>
                <h3
                  class="m-0 self-stretch relative text-2xl leading-8 font-normal font-[inherit] mq450:text-[19px] mq450:leading-[26px]"
                >
                  Formulate smarter, reduce development time, and launch
                  market-ready products with confidence.
                </h3>
              </div>
              <button
                class="cursor-pointer [border:none] py-3.5 px-8 bg-[#0047ab] rounded-2xl flex items-center justify-center hover:bg-[#266ed1]"
              >
                <div
                  class="relative text-xl leading-6 font-medium font-['Public_Sans'] text-[#fafcff] text-left"
                >
                  Book a Live Demo
                </div>
              </button>
            </section>
            <img
              class="w-[calc(100%_+_193px)] absolute !!m-[0 important] right-[-97px] bottom-[0px] left-[-96px] max-w-full overflow-hidden max-h-full shrink-0"
              loading="lazy"
              alt=""
              src="/locofy/divider.svg"
            />
          </div>
        </section>
      </main>
      <footer
        class="self-stretch bg-[#fafcff] flex flex-col items-start pt-24 px-0 pb-[52px] gap-8 z-[0] text-left text-[15px] text-[rgba(20,31,46,0.62)] font-['Public_Sans'] mq825:gap-4 mq450:pt-[62px] mq450:pb-[34px] mq450:box-border"
      >
        <img
          class="self-stretch h-[1.5px] relative max-w-full overflow-hidden max-h-full"
          loading="lazy"
          alt=""
          src="/locofy/divider.svg"
        />

        <div
          class="self-stretch flex items-start flex-wrap content-start gap-[52px] mq825:gap-[26px]"
        >
          <div
            class="self-stretch flex-1 flex flex-col items-start justify-between min-w-[218px]"
          >
            <div class="flex items-start gap-3.5">
              <img class="h-6 w-6 relative" alt="" src="/locofy/facebook.svg" />

              <img
                class="h-6 w-6 relative"
                alt=""
                src="/locofy/instagram.svg"
              />

              <img class="h-6 w-6 relative" alt="" src="/locofy/twitter.svg" />
            </div>
          </div>
          <div
            class="w-[200px] flex flex-col items-start justify-center gap-2.5 text-[#1b2028]"
          >
            <div class="self-stretch relative leading-5 font-medium">Title</div>
            <div
              class="self-stretch relative leading-5 font-medium text-[rgba(20,31,46,0.62)]"
            >
              Product Overview<br /><br />
              Features<br /><br />
              Pricing<br /><br />
              Demo<br /><br />
              API & Integrations
            </div>
          </div>
          <div
            class="w-[200px] flex flex-col items-start justify-center gap-2.5"
          >
            <div
              class="self-stretch relative leading-5 font-medium text-[#1b2028] shrink-0"
            >
              Resources
            </div>
            <div class="self-stretch relative leading-5 font-medium shrink-0">
              Blog
            </div>
            <div class="self-stretch relative leading-5 font-medium shrink-0">
              Webinars
            </div>
            <div class="self-stretch relative leading-5 font-medium shrink-0">
              Case Studies
            </div>
            <div
              class="w-[200px] relative leading-5 font-medium hidden shrink-0"
            >
              Page link
            </div>
            <div
              class="w-[200px] relative leading-5 font-medium hidden shrink-0"
            >
              Page link
            </div>
          </div>
          <div
            class="w-[200px] flex flex-col items-start justify-center gap-2.5"
          >
            <div
              class="self-stretch relative leading-5 font-medium text-[#1b2028] shrink-0"
            >
              Support
            </div>
            <div class="self-stretch relative leading-5 font-medium shrink-0">
              Help Center
            </div>
            <div class="self-stretch relative leading-5 font-medium shrink-0">
              Contact Us
            </div>
            <div class="self-stretch relative leading-5 font-medium shrink-0">
              Terms of Service
            </div>
            <div class="self-stretch relative leading-5 font-medium shrink-0">
              Privacy Policy
            </div>
            <div
              class="w-[200px] relative leading-5 font-medium hidden shrink-0"
            >
              Page link
            </div>
          </div>
          <div
            class="w-[200px] flex flex-col items-start justify-center gap-2.5"
          >
            <div
              class="self-stretch relative leading-5 font-medium text-[#1b2028] shrink-0"
            >
              Social
            </div>
            <div class="self-stretch relative leading-5 font-medium shrink-0">
              LinkedIn
            </div>
            <div class="self-stretch relative leading-5 font-medium shrink-0">
              Twitter
            </div>
            <div class="self-stretch relative leading-5 font-medium shrink-0">
              Facebook
            </div>
            <div
              class="w-[200px] relative leading-5 font-medium hidden shrink-0"
            >
              Page link
            </div>
            <div
              class="w-[200px] relative leading-5 font-medium hidden shrink-0"
            >
              Page link
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
